.level_grid {
  display: grid;
  grid-template-columns: repeat(6, 0.3fr);
  grid-template-rows: repeat(6, 0.3fr);
  gap: 5px;
  background-color: #eee;
  border: 5px solid #eee;
}

.level_grid {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.level_grid > div {
  padding: 2rem;
  cursor: grab !important;
}

.starting_block {
  border: 5px solid #000000;
}

/* 0 */
.empty {
  background-color: #161616;
}

/* 1 */

.red_changed {
  background-color: rgba(170, 0, 0, 0.8);
}
.red {
  background-color: rgb(170, 0, 0);
}

/* 2 */
.yellow_changed {
  background-color: rgba(219, 219, 25, 0.8);
}

.yellow {
  background-color: rgb(219, 219, 25);
}

/* 3 */
.green_changed {
  background-color: rgba(0, 172, 0, 0.8);
}

.green {
  background-color: rgb(0, 172, 0);
}

/* 4 */
.dark_blue_changed {
  background-color: rgba(0, 0, 143, 0.8);
}

.dark_blue {
  background-color: rgb(0, 0, 143);
}

/* 5 */
.purple_changed {
  background-color: rgba(129, 5, 129, 0.8);
}

.purple {
  background-color: rgb(129, 5, 129);
}

/* 6 */
.pink_changed {
  background-color: rgba(255, 156, 172, 0.8);
}

.pink {
  background-color: rgb(255, 156, 172);
}

/* 7 */
.light_blue_changed {
  background-color: rgba(0, 255, 170, 0.8);
}

.light_blue {
  background-color: rgb(0, 255, 170);
}
