.level_grid {
  display: grid;
  grid-template-columns: repeat(6, 0.3fr);
  grid-template-rows: repeat(6, 0.3fr);
  gap: 5px;
  grid-template-areas:
    "s1 s2 s3 s4 s5 s6"
    "s7 s8 s9 s10 s11 s12"
    "s13 s14 s15 s16 s17 s18"
    "s19 s20 s21 s22 s23 s24"
    "s25 s26 s27 s28 s29 s30"
    "s31 s32 s33 s34 s35 s36";
  background-color: #eee;
  border: 5px solid #eee;
}

.s1 {
  grid-area: s1;
  background-color: #161616;
  padding: 2rem;
}
.s2 {
  grid-area: s2;
  background-color: #161616;
  padding: 2rem;
}
.s3 {
  grid-area: s3;
  background-color: #161616;
  padding: 2rem;
}
.s4 {
  grid-area: s4;
  background-color: #161616;
  padding: 2rem;
}
.s5 {
  grid-area: s5;
  background-color: #161616;
  padding: 2rem;
}
.s6 {
  grid-area: s6;
  background-color: #161616;
  padding: 2rem;
}
.s7 {
  grid-area: s7;
  background-color: #161616;
  padding: 2rem;
}
.s8 {
  grid-area: s8;
  background-color: #161616;
  padding: 2rem;
}
.s9 {
  grid-area: s9;
  background-color: #161616;
  padding: 2rem;
}
.s10 {
  grid-area: s10;
  background-color: #161616;
  padding: 2rem;
}
.s11 {
  grid-area: s11;
  background-color: #161616;
  padding: 2rem;
}
.s12 {
  grid-area: s12;
  background-color: #161616;
  padding: 2rem;
}
.s13 {
  grid-area: s13;
  background-color: #161616;
  padding: 2rem;
}
.s14 {
  grid-area: s14;
  background-color: #161616;
  padding: 2rem;
}
.s15 {
  grid-area: s15;
  background-color: #161616;
  padding: 2rem;
}
.s16 {
  grid-area: s16;
  background-color: #161616;
  padding: 2rem;
}
.s17 {
  grid-area: s17;
  background-color: #161616;
  padding: 2rem;
}
.s18 {
  grid-area: s18;
  background-color: #161616;
  padding: 2rem;
}
.s19 {
  grid-area: s19;
  background-color: #161616;
  padding: 2rem;
}
.s20 {
  grid-area: s20;
  background-color: #161616;
  padding: 2rem;
}
.s21 {
  grid-area: s21;
  background-color: #161616;
  padding: 2rem;
}
.s22 {
  grid-area: s22;
  background-color: #161616;
  padding: 2rem;
}
.s23 {
  grid-area: s23;
  background-color: #161616;
  padding: 2rem;
}
.s24 {
  grid-area: s24;
  background-color: #161616;
  padding: 2rem;
}
.s25 {
  grid-area: s25;
  background-color: #161616;
  padding: 2rem;
}
.s26 {
  grid-area: s26;
  background-color: #161616;
  padding: 2rem;
}
.s27 {
  grid-area: s27;
  background-color: #161616;
  padding: 2rem;
}
.s28 {
  grid-area: s28;
  background-color: #161616;
  padding: 2rem;
}
.s29 {
  grid-area: s29;
  background-color: #161616;
  padding: 2rem;
}
.s30 {
  grid-area: s30;
  background-color: #161616;
  padding: 2rem;
}
.s31 {
  grid-area: s31;
  background-color: #161616;
  padding: 2rem;
}
.s32 {
  grid-area: s32;
  background-color: #161616;
  padding: 2rem;
}
.s33 {
  grid-area: s33;
  background-color: #161616;
  padding: 2rem;
}
.s34 {
  grid-area: s34;
  background-color: #161616;
  padding: 2rem;
}
.s35 {
  grid-area: s35;
  background-color: #161616;
  padding: 2rem;
}
.s36 {
  grid-area: s36;
  background-color: #161616;
  padding: 2rem;
}

.red_starting {
  background-color: rgb(170, 0, 0);
  border: 5px solid #000000;
}

.yellow_starting {
  background-color: rgb(219, 219, 25);
  border: 5px solid #000000;
}

.dark_blue_starting {
  background-color: rgb(0, 0, 143);
  border: 5px solid #000000;
}

.light_blue_starting {
  background-color: rgb(0, 255, 170);
  border: 5px solid #000000;
}

.purple_starting {
  background-color: purple;
  border: 5px solid #000000;
}

.pink_starting {
  background-color: rgb(255, 156, 172);
  border: 5px solid #000000;
}

.green_starting {
  background-color: rgb(0, 172, 0);
  border: 5px solid #000000;
}
