@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

/*--- Welcome page ---*/

.welcome_header {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 15px solid #eee;
}

#welcome {
  font-size: 450%;
}

.lets_play_div {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 15px solid #eee;
}

#lets_play {
  cursor: pointer;
  color: #eee;
  text-decoration: none;
  border: 3px solid #eee;
  padding: 20px;
  font-size: 200%;
}

#lets_play:hover {
  font-size: 250%;
}

/*--- Select level page ---*/

.select_level_header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 15px solid #eee;
}

#select_level {
  font-size: 250%;
}

#level_selector_menu {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.back {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: #222;
  background-color: #eee;
  padding: 15px;
  text-decoration: none;
  font-size: 150%;
  cursor: pointer;
}

.back:hover {
  font-size: 200%;
}

.levels {
  border: 8px solid #eee;
}

.levels:hover {
  padding: 20px;
}

/*--- Modal ---*/
.level_completed .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.level_completed .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #eee;
  width: 50%;
  height: fit-content;
  z-index: 2;
  background-color: #222;
}

.level_completed .content h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 0;
}

.completed_buttons {
  padding: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.game_buttons {
  padding: 2rem 0 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.completed_buttons > button,
.game_buttons > button {
  cursor: pointer;
  text-decoration: none;
  border: 3px solid #eee;
  padding: 20px;
  font-size: 200%;
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

.completed_buttons > button:hover {
  background-color: white;
  color: #222;
  border: #222;
}
/*--- Level 1 ---*/

#level_div {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
